# App
NODE_ENV=development
PORT=3000
APP_NAME=edox-be

# Database
DATABASE_URL=postgresql://postgres:secret@127.0.0.1:5432/edox_db?schema=public

# Auth
JWT_SECRET=change_me_in_production_min32chars!!
JWT_EXPIRATION=3600s

# CORS
CORS_ORIGIN=http://localhost:3000

# Mail
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_FROM=noreply@edox.com
